@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("Fonts/Montserrat-VariableFont_wght.ttf");
}

.clearfix {
  clear: both;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}


:root {

  --light-gray: rgba(6, 4, 4, 0.1);
  --dark-gray: #ccc;

  --fs-heading-1: 60px;
  --fs-heading-2: 45px;

}




/* type scale */


/*   1.25

    h1 :

    h2 : 

    h3:

    h4:

    h5:

    h6 :  

    p: 16px

    a:
*/



/* ========= btn ========= */
.btn {
  background-color: #bc9076;
  color: #fff;
  padding: 30px 80px;
  display: inline-block;
}

/* ====== nesting ========= */



.preloader {
  background-color: #f7f7f7;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  width: 100%;

  .preloader__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;
    border-top-color: #bc9076;
    box-shadow: 0px 1px 5px 0 rgba(35, 181, 185, 0.15);
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    animation: spin 2s infinite;

    /* top: 50%;
    left: 50%; */
    /* margin: auto; */
    /* transform: translate(-50%, -50%); */
    /* margin: -50px; */
  }


  .preloader__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }

}




.header {
  background-color: #fff;

  .header__logo {

    float: left;
    margin: 30px 0px 0px 60px;

  }

  .navbar {
    float: right;

    .navbar__links {
      display: inline-block;

      .navbar__item {
        display: inline-block;
        padding: 0px 35px;
        font-size: 15px;
        font-weight: 600;

        a {
          color: #101A31;

        }
      }

    }

    .header__visit--us {
      display: inline-block;
      background-color: #be9278;
      color: #fff;
      padding: 32px 65px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-left: 80px;
    }

  }


}

.fixed-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 10px 15px var(--light-gray);
  /* opacity: 0; */
  animation: fadeInDown 300ms;
}


@keyframes fadeInDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;

  }

}






.hero {
  height: 850px;
  background: linear-gradient(to right, rgba(16, 26, 48, 0.7) 0%, rgba(16, 26, 48, 0.7) 12%, #101a31 91%, #101a31 100%), url(images/h1_hero.png);
  background-size: cover;
  background-position: center;
  position: relative;


  .hero__content {
    position: absolute;
    top: 20%;
    left: 12%;
    color: #fff;
    width: 40%;



    h1 {
      font-size: 76px;
      line-height: 83.6px;
      font-weight: 600;
      margin: 25px 0px;
    }

    p {
      line-height: 30px;
      width: 78%;
      margin-bottom: 30px;
    }

    img {
      animation: spin 20s infinite linear;
    }


  }

  .hero__img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 750px;

    img {
      height: 100%;
      width: 660px;
    }
  }

}



.offers {
  /* background-color: lightblue; */
  width: 80%;
  margin: 100px auto;

  .offer {
    width: 33%;
    display: inline-block;
    transform: translateY(600px);
    opacity: 0;



    .offer__img {
      padding: 40px;

      .img__container {
        height: 390px;
        overflow: hidden;

        img {
          width: 100%;
        }


        img {
          transition: scale .7s;

        }
      }


    }

    .offer__content {
      padding: 0px 40px;
      position: relative;

      span,
      h3 {
        transition: all .7s;

      }

      span {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #c6a16e;
        color: #fff;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        position: absolute;

        top: -5px;
        left: -15px;
      }

      h3 {
        font-size: 30px;
        font-weight: 600
      }

      p {
        line-height: 30px;
        color: #101a31;
        margin-top: 20px;
        width: 80%;
      }
    }
  }

  .offer:hover {
    img {
      scale: 1.1;
    }
  }


}


@keyframes fadeInUp {
  from {
    transform: translateY(600px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;

  }

}



.about {
  width: 85%;
  margin: 50px auto 150px;
  position: relative;
  height: 800px;

  .about__img {
    position: absolute;
    z-index: 3;
    top: 15%;
    width: 660px;
    height: 570px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .about__content {
    background-color: #f2e1d9;
    position: absolute;
    right: 0;
    height: 100%;
    width: 75%;

    .about__text {
      position: absolute;
      top: 20%;
      left: 40%;

      h2 {
        font-size: 56px;
        line-height: 67.2px;
        font-weight: 600;
        color: #101a31;
        margin-bottom: 25px;
      }

      p {
        width: 73%;
        line-height: 30.6px;

      }

      .paragraph-1 {
        font-size: 18px;
        color: #010a44
      }

      .paragraph-2 {
        font-size: 14px;
        color: #10285d;
        margin: 25px 0px;
      }
    }
  }
}

.form {
  width: 80%;
  margin: 100px auto;

  input {
    display: block;
    padding: 20px 60px;
    font-size: 30px;
    margin-bottom: 5px;
  }

  button {
    padding: 20px 40px;
    margin-bottom: 10px;
  }
}

.media {
  width: 80%;
  margin: 100px auto;

  button {
    padding: 20px 40px;
  }
}



.footer {
  background-color: #0e172f;
  color: #fff;
  padding: 30px 0px;
  text-align: center;
}